<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <allowedServerVariables>
        <add name="HTTP_X_USER" />
        <add name="HTTP_REMOTE_USER" />
      </allowedServerVariables>
      <rules>
        <rule name="ReverseProxyInbound" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_USER" value="{AUTH_USER}" />
            <set name="HTTP_REMOTE_USER" value="{AUTH_USER}" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>